{% extends 'global/base.html' %}

{% block title %} - Categorias Filtradas {% endblock title %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% url 'serveListAll_css' %}">
</head>
<h2>Bem-vindo ao sistema de Quiz</h2>

<h4>Categorias para o nível de dificuldade selecionado:</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Quantidade de Perguntas</th>
            <th>Responder</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.nome }}</td>
            <td>{{ categoria.qtd_perguntas }}</td>
            <td><a href="{% url 'perguntas_por_categoria' categoria.id %}" class="btn btn-success">Acessar</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma categoria encontrada para o nível de dificuldade selecionado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %} 

