{% extends 'global/base.html' %}
{% load static %}
{% block title %} - Resultado! {% endblock title %}

{% block content %}

<body>

    <div id="quiz">
        {% if qtd_acertos > 0 %}
        <h4>Parabéns! Você acertou: {{ qtd_acertos }} questões.</h4>
        <h5>Vamos salvar o resultado?</h5>

        <form action="{% url 'pagina_inicial' %}" method="post" class="form">
            {% csrf_token %}

            <label for="txt_usuario" class="form-label">Nome Jogador:</label>
            <input type="text" class="form-control" name="txt_usuario" id="txt_usuario" disabled>

            <label class="txt_data" for="txt_data" class="form-label">Data: </label>
            <input type="datetime" name="txt_data" id="txt_data" class="form-control" value="{{dia_atual}}" disabled>

            <label class="txt_qtd_acertos" for="txt_qtd_acertos" class="form-label">Acertos: </label>
            <input type="text" name="txt_qtd_acertos" id="txt_qtd_acertos" class="form-control"
                value="{{ qtd_acertos }}" disabled>
            <label class="txt_tempo" for="txt_tempo" class="form-label">Tempo: </label>
            <input type="text" name="txt_tempo" id="txt_tempo" class="form-control" value="{{ tempo }} segundos"
                disabled>
            <br>
            <!-- TODO: Tratar a Página para salvar -->
            <a href="{% url 'pagina_inicial' %}" class="btn btn-success">Salvar Resultado </a>


            <div class="float-end">

                <a href="{% url 'list_qa' %}" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
        {% else %}

        <h4>Que pena, você não acertou nenhuma!</h4>
        <h3>Você demorou {{ tempo }} segundo(s) para responder as questões.</h3>
        <img id="img" src="{% static 'img/img.gif' %}">
        <a href="{% url 'list_qa' %}" id="btn-volt" class="btn btn-success btn-voltar">Voltar</a>
        {% endif %}
    </div>

    {% block js %}
    <script src="{% static 'js/recupera_usuario.js' %}"></script>
    {% endblock js %}
</body> 
{% endblock content %}